@import "__variables";

$menu-height: 35px;
$menu-width: 42px;
$height: 22px;
$width: 31px;
$line-size: 6px;
$line-color: #313030;
$to-translate: ($height - $line-size) / 2;
$bounce: cubic-bezier(.87, -.50, .19, 1.50);

.menu {
  position: fixed;
  right: 0;
  transform: translateX(-30px);
  top: 33px;
  height: $menu-height;
  width: $menu-width;
  background-color: $default-orange-color;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid $default-orange-color;
  z-index: 3;
 

  &__icon {
    position: absolute;
    width: $width;
    height: $height;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__line {
    position: absolute;
    left: 0;
    background-color: $line-color;
    height: $line-size;
    width: 100%;
    pointer-events: none;

    &--1 {
      top: 0;
    }

    &--2 {
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &--3 {
      bottom: 0;
    }
  }



  /*--- Close Button 2 ---*/

  &--close2 &__line--1 {
    transition: transform .3s ease-in-out,
      top .2s ease-in-out .3s;
  }

  &--close2 &__line--1:before {
    content: '';
    position: absolute;
    width: 100%;
    height: $line-size;
    background-color: $line-color;
    transition: transform .1s ease-in-out .2s;
  }

  &--close2 &__line--2 {
    transition: opacity .0s ease-in-out .3s;
  }

  &--close2 &__line--3 {
    transition: opacity .0s ease-in-out .3s,
      bottom .2s ease-in-out .3s;
  }

  // Open
  &--close2.open &__line--1 {
    top: $to-translate;
    transform: rotate(135deg);
    transition: top .3s ease-in-out,
      transform .3s linear .3s;
  }

  &--close2.open &__line--1:before {
    transform: rotate(90deg);
    transition: transform .1s ease-in-out .3s;
  }

  &--close2.open &__line--2 {
    opacity: 0;
    transition: opacity .0s ease-in-out .3s;
  }

  &--close2.open &__line--3 {
    bottom: $to-translate;
    opacity: 0;
    transition: bottom .3s ease-in-out,
      opacity .0s ease-in-out .3s;
  }


}