@import "__variables";

.default-btn
{
    background: #000;
    color: #fff;
    border: 0;
        padding: 5px;
        font-weight: 550;
        font-size: 1.7em;
        @media screen and (max-width: 844px) {
            font-size: 1.3em;
        }
        text-transform: uppercase;
        cursor: pointer;

        &:hover, &:focus
        {
             background: #fff;
                color: #000;
        }
}