@import "__variables";

nav {
    border: 0;
    position: fixed;
    align-items: center;
    width: 100%;
    right: 0;
    display: flex;
    height: 100px;
    clip-path: circle(0 at 100% 0);
    z-index: 2;
    overflow: hidden;

    @media screen and (max-width: 660px) {
        height: 100vh;

    }

    background-color: $default-orange-color;

    ul.nav__container {

        @media screen and (max-width: 660px) {
            justify-content: center;
            display: grid;

        }

        overflow: hidden;
        display: flex;
        list-style: none;
        width: 100%;
        color: #000;
        margin: 0;

        li.nav__item {
            overflow: hidden;
            opacity: 0;

            a {
                font-size: 1.1em;
                color: rgba(255, 255, 255, 0.774);
                transition: color .2s;

                &:hover {
                    color: #fff;
                    transition: color .3s;
                    text-decoration: none;
                }
            }

            padding: 20px 20px;

            z-index: 1;
            text-transform: uppercase;
            font-weight: 500;

            &:not(:last-child) {
                margin-right: 15px;
            }

            &.active>a {
                color: #fff;
                font-weight: 550;
            }
        }
    }
}
